@font-face {
  font-family: NT-Somic;
  src: url('https://github.com/nnttttyyppee/NT-Somic/tree/main/Fonts/TTF/NTSomic-Medium') format('truetype');
  font-style: normal;
      }

body {
  background-color: white;
  color: black;
  font-family: NT-Somic, Arial Narrow, sans-serif;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: cyan;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}

.headerText {
      padding-bottom: 10px;
      color: black;
      text-align: center;
      background-color: black;
      font-family: NTSomic-Medium, Arial Narrow, sans-serif;
      font-size: 20px;

div {
        width: 300px;
        border: 15px solid white;
        padding: 50px;
        margin: 20px;
      }
}
